[package]
name = "elf-verify"
version = "0.1.2"
edition = "2021"
description = "Command line tool for checking symbols in an exectuable"
authors = ["Mariotaku Lee <mariotaku.lee@gmail.com>"]
license = "Apache-2.0"

[[bin]]
name = "webosbrew-elf-verify"
path = "src/main.rs"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
semver = { workspace = true }

[dependencies.clap]
workspace = true
features = ["derive"]

[dependencies.bin-lib]
path = "../../common/bin"

[dependencies.fw-lib]
path = "../../common/fw"

[dependencies.verify-lib]
path = "../../common/verify"

[features]
linux-install = ["fw-lib/linux-install"]

[package.metadata.deb]
name = "webosbrew-toolbox-elf-verify"
section = "devel"
depends = "$auto, webosbrew-toolbox-fw-symbols"
features = ["linux-install"]