[package]
name = "ipk-verify"
version = "0.1.3"
edition = "2021"
description = "Command line tool for checking symbols in an exectuable and libraries in an IPK file"
authors = ["Mariotaku Lee <mariotaku.lee@gmail.com>"]
license = "Apache-2.0"

[[bin]]
name = "webosbrew-ipk-verify"
path = "src/main.rs"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
debpkg = { workspace = true }
tempfile = { workspace = true }
path-slash = { workspace = true }
prettytable-rs = "^0.10"
semver = { workspace = true }
is-terminal = "0.4.12"
term = "0.7.0"
clap = { workspace = true, features = ["derive"] }
verify-lib = { path = "../../common/verify", features = ["ipk"] }

[dependencies.fw-lib]
path = "../../common/fw"

[dependencies.bin-lib]
path = "../../common/bin"

[dependencies.ipk-lib]
path = "../../common/ipk"

[features]
linux-install = ["fw-lib/linux-install"]

[package.metadata.deb]
name = "webosbrew-toolbox-ipk-verify"
section = "devel"
depends = "$auto, webosbrew-toolbox-fw-symbols"
features = ["linux-install"]